.App {
  text-align: center;
  vertical-align: top;
  width: 100vw;
}

ol,ul {
  text-align: left;
}

a:link {
  /*text-decoration: none;*/
  color: #63639c;
}

a:hover {
  color: white;
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
